<h5>Comments:</h5>
<div class="row">
    <% comments.reject(&:new_record?).each do |comment| %>
      <div class="well span8">
        <em><%= comment.body %></em>
        <br>
        <span class="quiet">by</span>
        <a><%= comment.author.username %></a>
        <small>at <%= friendly_date(comment.created_at) %></small>
      </div>
    <% end %>
</div>
